{% set langs = [
        'aa',
        'ab',
        'ace',
        'ady',
        'af',
        'ak',
        'als',
        'alt',
        'am',
        'ami',
        'an',
        'ang',
        'ar',
        'arc',
        'ary',
        'arz',
        'as',
        'ast',
        'atj',
        'av',
        'avk',
        'awa',
        'ay',
        'az',
        'azb',
        'ba',
        'ban',
        'bar',
        'bat-smg',
        'bcl',
        'be',
        'be-tarask',
        'be-x-old',
        'bg',
        'bh',
        'bho',
        'bi',
        'bjn',
        'blk',
        'bm',
        'bn',
        'bo',
        'bpy',
        'br',
        'bs',
        'bug',
        'bxr',
        'ca',
        'cbk',
        'cbk-zam',
        'cdo',
        'ce',
        'ceb',
        'ch',
        'cho',
        'chr',
        'chy',
        'ckb',
        'cmn',
        'co',
        'cr',
        'crh',
        'cs',
        'csb',
        'cu',
        'cv',
        'cy',
        'cz',
        'da',
        'dag',
        'de',
        'din',
        'diq',
        'dk',
        'dsb',
        'dty',
        'dv',
        'dz',
        'ee',
        'egl',
        'el',
        'eml',
        'en',
        'eo',
        'epo',
        'es',
        'et',
        'eu',
        'ext',
        'fa',
        'ff',
        'fi',
        'fiu-vro',
        'fj',
        'fo',
        'fr',
        'frp',
        'frr',
        'fur',
        'fy',
        'ga',
        'gag',
        'gan',
        'gcr',
        'gd',
        'gl',
        'glk',
        'gn',
        'gom',
        'gor',
        'got',
        'gsw',
        'gu',
        'guc',
        'gur',
        'guw',
        'gv',
        'ha',
        'hak',
        'haw',
        'he',
        'hi',
        'hif',
        'ho',
        'hr',
        'hsb',
        'ht',
        'hu',
        'hy',
        'hyw',
        'hz',
        'ia',
        'id',
        'ie',
        'ig',
        'ii',
        'ik',
        'ilo',
        'inh',
        'io',
        'is',
        'it',
        'iu',
        'ja',
        'jam',
        'jbo',
        'jp',
        'jv',
        'ka',
        'kaa',
        'kab',
        'kbd',
        'kbp',
        'kcg',
        'kg',
        'khw',
        'ki',
        'kj',
        'kk',
        'kl',
        'km',
        'kn',
        'ko',
        'koi',
        'kr',
        'krc',
        'ks',
        'ksh',
        'ku',
        'kv',
        'kw',
        'ky',
        'la',
        'lad',
        'lb',
        'lbe',
        'lez',
        'lfn',
        'lg',
        'li',
        'lij',
        'lld',
        'lmo',
        'ln',
        'lo',
        'lrc',
        'lt',
        'ltg',
        'lv',
        'lzh',
        'mad',
        'mai',
        'map-bms',
        'mdf',
        'mg',
        'mh',
        'mhr',
        'mi',
        'min',
        'mk',
        'ml',
        'mn',
        'mni',
        'mnw',
        'mo',
        'mr',
        'mrj',
        'ms',
        'mt',
        'mus',
        'mwl',
        'my',
        'myv',
        'mzn',
        'na',
        'nah',
        'nan',
        'nap',
        'nb',
        'nds',
        'nds-nl',
        'ne',
        'new',
        'ng',
        'nia',
        'nl',
        'nn',
        'no',
        'nov',
        'nqo',
        'nrf',
        'nrm',
        'nso',
        'nv',
        'ny',
        'oc',
        'olo',
        'om',
        'or',
        'os',
        'pa',
        'pag',
        'pam',
        'pap',
        'pcd',
        'pcm',
        'pdc',
        'pfl',
        'pi',
        'pih',
        'pl',
        'pms',
        'pnb',
        'pnt',
        'ps',
        'pt',
        'pwn',
        'qu',
        'rm',
        'rmy',
        'rn',
        'ro',
        'roa-rup',
        'roa-tara',
        'ru',
        'rue',
        'rup',
        'rw',
        'sa',
        'sah',
        'sat',
        'sc',
        'scn',
        'sco',
        'sd',
        'se',
        'sg',
        'sgs',
        'sh',
        'shi',
        'shn',
        'shy',
        'si',
        'simple',
        'sk',
        'skr',
        'sl',
        'sm',
        'smn',
        'sn',
        'so',
        'sq',
        'sr',
        'srn',
        'ss',
        'st',
        'stq',
        'su',
        'sv',
        'sw',
        'syc',
        'szl',
        'szy',
        'ta',
        'tay',
        'tcy',
        'te',
        'tet',
        'tg',
        'th',
        'ti',
        'tk',
        'tl',
        'tn',
        'to',
        'tpi',
        'tr',
        'trv',
        'ts',
        'tt',
        'tum',
        'tw',
        'ty',
        'tyv',
        'udm',
        'ug',
        'uk',
        'ur',
        'uz',
        've',
        'vec',
        'vep',
        'vi',
        'vls',
        'vro',
        'vo',
        'wa',
        'war',
        'wo',
        'wuu',
        'xal',
        'xh',
        'xmf',
        'yi',
        'yo',
        'yue',
        'za',
        'zea',
        'zh',
        'zh-classical',
        'zh-min-nan',
        'zh-yue',
        'zu',
] -%}
