{% from "helpers/langs.tmpl" import langs %}

{% macro geolang(lang) -%}
{{ lang }}              600 IN DYNA    geoip!text-addrs
{{ lang }}.m            600 IN DYNA    geoip!mobile-addrs
{{ lang }}.zero         600 IN DYNA    geoip!mobile-addrs
{%- endmacro %}

{% macro geolanglist() -%}
{% for lang in langs -%}
{{ geolang(lang) }}
{% endfor %}
{%- endmacro %}
