{% from "helpers/langs.tmpl" import langs %}

{% macro geolang(lang, dyna) -%}
{{ lang }}              600 IN DYNA    geoip!{{ dyna }}
{{ lang }}.m            600 IN DYNA    geoip!mobile-addrs
{{ lang }}.zero         600 IN DYNA    geoip!mobile-addrs
{%- endmacro %}

{% macro geolanglist(dyna) -%}
{% for lang in langs -%}
{{ geolang(lang, dyna) }}
{% endfor %}
{%- endmacro %}
